@model Sale_Street.ViewModels.AddUserToRoleViewModel

<h1>
	Add User to Role
</h1>
<form asp-action="AddUserToRole" asp-controller="Role" method="post">

	<div class="text-danger" asp-validation-summary="All"></div>
	<div class="form-group">
		<label class="col-form-label" asp-for="UserName"></label>
		<input asp-for="UserName" class="form-control" />
		<span asp-validation-for="UserName" class="text-danger"></span>
	</div>
	<input type="hidden" asp-for="RoleId" value="@Model.RoleId" />
	<div class="form-group">

		<button type="submit" class="btn btn-primary">Add</button>
	</div>
</form>