@model Sale_Street.ViewModels.SignInViewModel


<form asp-action="LogIn" asp-controller="Account" method="post">
	<div class="form-group" asp-validation-summary="All"></div>
	<div class="form-group">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" placeholder="Enter your Email"/>
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Passowrd"></label>
		<input asp-for="Passowrd" class="form-control" placeholder="Enter your Password" />
		<span asp-validation-for="Passowrd" class="text-danger"></span>

	</div>
	<div class="form-group">
		<label asp-for="RememberMe"></label>
		<input asp-for="RememberMe" class="form-control" />
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Signin</button>
	</div>
</form>

<style>
	.form-control {
		text-align: center;
		width: 400px;
	}

	input {
		flex-basis: 50%;
	}

	label {
		color: #146C94;
	}

</style>